<div class="container" id="usuarios1">
    <h1 class="text-center mb-5 mt-5">Usuarios</h1>
    <div class="row mt-5" style="overflow: scroll">
        <ng-container *ngFor="let item of this.array">
            <div class="col-md-3 col-sm-6 mt-3 mb-3">
                <div class="single-member text-center">
                    <div class="team-heading"></div>
                    <div class="member-img">
                        <img [src]="item.avatar" alt="">
                    </div>
                    <div class="member-data">
                        <div class="member-info">
                            <h2>{{item.first_name}} {{item.last_name}}</h2>
                            <h3>Developer</h3>
                            <h3>Email</h3>
                            <h6>{{item.email}}</h6>
                        </div>
                        <div class="member-socials">
                            <a href="" class="color1">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="" class="color2">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="" class="color3">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="member-footer">
                        <button class="btn editar" (click)="details(item.id)">Detalles</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>