<nav class="fixed fixed-top ">
    <div class="logo">
        <img src="assets/img/logo-gvintl.svg" alt="">
    </div>
    <ul>
        <li class='active'><a (click)="navigate('home1')">Home</a></li>
        <li><a (click)="navigate('portafolio1')">Portafolio</a></li>
        <li><a (click)="navigate('proyectos1')">Proyectos</a></li>
        <li><a (click)="navigate('usuarios1')">Usuarios</a></li>
        <li><a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="usuarios/create-edit">Crear/Editar Usuario</a>
            </div>
        </li>

    </ul>

</nav>