@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
}

nav .logo {
    float: left;
}

nav .logo img {
    transition: .5s;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

nav ul li.active {
    background: #9e16dd !important;
}

.active a {
    color: #fff !important;
}

li:hover {
    background: #9e16dd;
    color: #fff !important;
}

li a:hover {
    color: #fff !important;
}

nav.purple {
    background: #650f8d !important;
    color: #fff
}

nav.purple ul li.active {
    background: #fff !important;
    color: #650f8d !important;
}

nav.purple .active a {
    color: #650f8d !important;
    height: 100px !important;
}

nav.purple ul li:hover {
    background: #fff !important;
    color: #650f8d !important;
}

nav.purple ul li a:hover {
    color: #650f8d !important;
}

.main {
    background-image: url('../../../assets/img/hero-1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #650f8d;
    padding: 20px;
    transition: 0.5s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 8px 5px rgba(0, 0, 0, .2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    display: flex;
    transition: 0.5s;
}

.navigation input:checked~.menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #42a8f9;
}

.navigation input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.navigation span {
    position: absolute;
    left: 26px;
    width: 32px;
    height: 4px;
    background: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.navigation input:checked~span {
    background: #f974a1;
}

.navigation span:nth-child(2) {
    transform: translateY(-8px);
}

.navigation input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(45deg);
}

.navigation span:nth-child(3) {
    transform: translateY(8px);
}

.navigation input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.container {
    float: right;
}

.dropdown-menu {
    background-color: #650f8d !important;
    color: #fff !important;
    padding-top: 0 !important;
}

.dropdown-menu a:hover {
    background-color: #8b1ac0 !important;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    nav {
        display: none !important;
    }
}