@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
h1 {
    font-family: 'Paytone One', sans-serif;
    color: #650f8d;
    font-size: 60px;
    text-transform: uppercase;
}

.btn-default {
    background: #650f8d;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.card {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    border: none;
    margin-bottom: 30px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 1s ease;
    z-index: 999;
}

.card-01 .card-body {
    position: relative;
    padding-top: 40px;
}

.social-box i {
    border: 1px solid #650f8d;
    color: #006EFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}

.social-box i:hover {
    background: #fff;
    color: #650f8d;
}

.social-box a {
    margin: 0 5px;
}

.card-01.height-fix .card-img-overlay {
    top: unset;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26, 96, 111, 0) 0%, rgba(26, 96, 111, 0) 1%, rgba(24, 87, 104, 0.91) 31%, rgba(21, 65, 89, 0.91) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a606f', endColorstr='#e8154159', GradientType=0);
}

.btn-close {
    background: #650f8d;
    color: #fff;
    font-family: 'Paytone One', sans-serif;
}

.texto-modal h4,
.modal-header span,
.modal-header {
    font-family: 'Paytone One', sans-serif;
    color: #650f8d !important;
}

.modal-body {
    font-weight: bold;
}

.media {
    border-top: 1px solid #bfbfbf;
    padding-top: 20px;
}

.media img {
    margin-right: 20px;
}

.media .nombre {
    color: #650f8d;
    margin-bottom: 0;
}

.media .nombre span {
    font-size: 12px;
    color: #464646;
    margin-left: 10px;
}

.media .comentario {
    margin-top: 10px;
}

.media .botones {
    margin-bottom: 10px;
}

.media .botones a {
    color: #acacac;
    font-size: 14px;
    margin-left: 20px;
}

.comments {
    font-family: 'Paytone One', sans-serif;
    color: #650f8d !important;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 325px) {
    h1 {
        font-size: 20px !important;
    }
}