<div class="container">
    <h1 class="text-center mb-5">
        Portafolio
    </h1>
    <ul>
        <li class="button  todo active" data-filter="all">All</li>
        <li class="button puente" data-filter="puentes">Puentes</li>
        <li class="button hotel" data-filter="hoteles">Hoteles</li>
        <li class="button estadio" data-filter="estadios">Estadios</li>
        <li class="button centro" data-filter="centroscomerciales">Centros Comerciales</li>
        <div style="clear: both;"></div>
    </ul>

    <div class="row">
        <div class="box filter puentes col-md-4">
            <div>
                <img src="assets/img/matute.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/matute.jpg" data-lightbox="puentes"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter puentes col-md-4">
            <div>
                <img src="assets/img/puente.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/puente.jpg" data-lightbox="puentes"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter puentes col-md-4">
            <div>
                <img src="assets/img/tower.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/tower.jpg" data-lightbox="puentes"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter hoteles col-md-4">
            <div>
                <img src="assets/img/portafolio/hotel1.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/hotel1.jpg" data-lightbox="hoteles"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter hoteles col-md-4">
            <div>
                <img src="assets/img/portafolio/hotel2.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/hotel2.jpg" data-lightbox="hoteles"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter hoteles col-md-4">
            <div>
                <img src="assets/img/portafolio/hotel3.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/hotel3.jpg" data-lightbox="hoteles"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter estadios col-md-4">
            <div>
                <img src="assets/img/portafolio/estadio1.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/estadio1.jpg" data-lightbox="estadios"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter estadios col-md-4">
            <div>
                <img src="assets/img/portafolio/estadio2.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/estadio2.jpg" data-lightbox="estadios"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter estadios col-md-4">
            <div>
                <img src="assets/img/portafolio/estadio3.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/estadio3.jpg" data-lightbox="estadios"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter centroscomerciales col-md-4">
            <div>
                <img src="assets/img/portafolio/centro1.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/centro1.jpg" data-lightbox="centros"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter centroscomerciales col-md-4">
            <div>
                <img src="assets/img/portafolio/centro2.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/centro2.jpg" data-lightbox="centros"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
        <div class="box filter centroscomerciales col-md-4">
            <div>
                <img src="assets/img/portafolio/centro3.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <a href="assets/img/portafolio/centro3.jpg" data-lightbox="centros"><i class="far fa-eye"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>