<div class="container mb-5">
    <h1 class="text-center mt-5 mb-5">Detalles De Usuario</h1>
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <img [src]="this.user.data.avatar" class="circle" alt="">
        </div>
        <div class="col-md-3 mt-5">
            <h3>Nombre:</h3>
            <p>{{this.user.data.first_name}} {{this.user.data.last_name}}</p>
        </div>
        <div class="col-md-3 mt-5">
            <h3>Correo:</h3>
            <p>{{this.user.data.email}}</p>
        </div>
        <div class="col-md-2 mt-5">
            <h3>Trabajo:</h3>
            <p>Desarrollador</p>
        </div>
        <div class="col-md-12 text-center">
            <a href="/home" class="btn">Regresar</a>
        </div>
    </div>
    <h1 class="text-center mt-5 mb-5">Listado De Recursos</h1>
    <div class="row mt-5 ">
        <div class="container-table100 mb-5 text-center">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">ID</th>
                                <th class="column2">Name</th>
                                <th class="column3">Year</th>
                                <th class="column4">Color</th>
                                <th class="column5">Pantone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of this.array">
                                <tr>
                                    <td class="column1">{{item.id}}</td>
                                    <td class="column2">{{item.name}}</td>
                                    <td class="column3">{{item.year}}</td>
                                    <td class="column4"><i class="fas fa-circle" [ngStyle]="{'color': item.color}"></i></td>
                                    <td class="column5">{{item.pantone_value}}</td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>