@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');
.circle {
    border-radius: 100%;
}

.container .row img {
    width: 55%;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    color: #650f8d;
    font-size: 50px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Paytone One', sans-serif;
    text-transform: uppercase;
}

.container {
    background: #f3f2f2;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    height: 370px;
}

p {
    color: #650f8d;
    font-weight: bold;
    font-size: 18px;
}

.btn {
    background: #650f8d;
    color: #fff;
    font-family: 'Paytone One', sans-serif;
    text-transform: uppercase;
    width: 20%;
    height: 40px;
    margin-bottom: 20px !important;
}