<div class="container mb-5">
    <h1 class="text-center mt-5 mb-5">{{titulo}}</h1>
    <form (ngSubmit)="create()">
        <div class="row mt-5 mb-5">

            <div class="col-md-6 mt-5">
                <h3>Nombre:</h3>
                <input type="text" class="form-control" [(ngModel)]="modi.name" name="name">
            </div>
            <div class="col-md-6 mt-5">
                <h3>Trabajo:</h3>
                <input type="text" class="form-control" [(ngModel)]="modi.job" name='job'>
            </div>
            <div class="col-md-12 text-center mt-5">
                <button class="btn" type='submit'>Guardar</button>
            </div>
            <div class="col-md-12 text-center">
                <a class="btn" href="/home">Home Page</a>
            </div>
        </div>
    </form>
    <h1 class="text-center mt-5 mb-5 ">Listado De Usuarios Creados</h1>
    <div class="row mt-5 ">
        <div class="container-table100 mb-5 text-center">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">ID</th>
                                <th class="column2">Nombre</th>
                                <th class="column3">Trabajo</th>
                                <th class="column4">Fecha de creacion</th>
                                <th class="column5">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of this.user">
                                <tr class="text-center">
                                    <td class="column1">{{item.id}}</td>
                                    <td class="column2">{{item.name}}</td>
                                    <td class="column3">{{item.job}}</td>
                                    <td class="column4">{{item.createdAt | date:'dd MMM y - HH:mm'}}</td>
                                    <td class="column5"><i (click)="edit(item)" class="fas fa-user-edit"></i></td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>